<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">LadyFIT</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/class/classFragments :: navigation"></nav>
</div>
<p th:unless="${tclasses} and ${tclasses.size()}">no classes :(</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Max clients</th>
        <th>Number of clients</th>
    </tr>

    <tr th:each="classs : ${tclasses}">
        <td th:text="${classs.fClass.name}"></td>
        <td th:text="${classs.date}"></td>
        <td th:text="${classs.maxClients}"></td>
        <td th:text="${classs.numberOfClients}"></td>
    </tr>
</table>

</body>
</html>