<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">LadyFIT</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/class/classFragments :: navigation"></nav>
</div>
<p th:unless="${classes} and ${classes.size()}">no classes :(</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Strength</th>
        <th>Style</th>
    </tr>

    <tr th:each="classs : ${classes}">
        <td th:text="${classs.name}"></td>
        <td th:text="${classs.strength}"></td>
        <td th:text="${classs.style.name}"></td>
    </tr>
</table>

</body>
</html>