<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">LadyFIT</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/user/userFragments :: navigation"></nav>
</div>
<p th:unless="${clients} and ${clients.size()}">no clients :(</p>

<table class="table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>

    <tr th:each="client : ${clients}">
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.email}"></td>
    </tr>
</table>

</body>
</html>