<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Register</title>
</head>
<body class="container">
<h1 style = "color:red ; text-align:center;" >LadyFIT</h1>
<h1 style = "color:black ; text-align:center;" >Register</h1>

<a href="/login">Login</a>

<p style="width:400px;">
</p>

<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: #ffffff;" th:action="@{/admin/addFClass}" method="post"  th:object="${fClass}">
    <div class="form-group">
        <label th:for="strength">strength </label>
        <input class="form-control" th:field="*{fClass.strength}" />
        <span th:errors="*{fClass.strength}" class="error" style="color:red;"></span>
    </div>


    <div class="form-group">
        <label th:for="name"> name</label>
        <input class="form-control" th:field="*{fClass.name}" />
        <span th:errors="*{fClass.name}" class="error" style="color:red;"></span>
    </div>



    <div class="form-group">
        <label th:for="type">style</label>
        <select name="styleId">
            <option th:each="style : ${styles}"
                    th:text="${style.name}"
                    th:value="${style.id}"></option>
        </select>
    </div>

    <input type="submit" value="Register" />

    <div th:if="${message}" th:text="${message}" style="color:red;" th:class="${'alert ' + alertClass}"/>
</form>

</body>
</html>