<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >
    <title>Homepage trainer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
.dropbtn { background-color:black;color: white;padding: 16px;font-size: 16px;border: none;}
.dropdown { position: relative;display: inline-block;}
.dropdown-content {display: none;position: absolute; background-color: #f1f1f1;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: #ffcce6;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ffcce6;}
</style>
</head>

<body class="container">
<h1 style = "color:#ff3399 ; text-align:center;">LadyFIT</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: #ff3399;" align="center">
    <div class="dropdown">
        <button class="dropbtn">Users</button>
        <div class="dropdown-content">
            <a href="allUsers" >All users</a>
            <a href="allTrainers" >All trainers</a>
            <a href="allClients" >All Clients</a>
            <a href="removeUser" >Delete user</a>
            <a href="updateUser" >Update user</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Classes</button>
        <div class="dropdown-content">
            <a href="/admin/allClasses">All classes</a>
            <a href="/admin/allTimetableClasses">All timetableClasses</a>
            <a href="/admin/removeTC">Remove timetable class</a>
            <a href="/admin/addTC">Add timetable class</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Styles</button>
        <div class="dropdown-content">
            <a href="/admin/allStyles">All styles</a>
            <a href="/admin/addStyle">Add style</a>
            <a href="/admin/removeStyle">Remove style</a>
        </div>
    </div>

    <a target='_self' th:href="@{/logout}" style='background-color: black;color: white;padding: 16px;font-size: 16px;border: none;'>Log out</a>
</div>

<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: #ffffff;" th:action="@{/admin/addTC}" method="post"  th:object="${timetableClass}">
    <div class="form-group">
        <label th:for="type">Class</label>
        <select name="classId">
            <option th:each="class : ${classes}"
                    th:text="${class.name}"
                    th:value="${class.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="type">Class</label>
        <select name="trainerId">
            <option th:each="trainer : ${trainers}"
                    th:text="${trainer.firstName + ' ' + trainer.lastName}"
                    th:value="${trainer.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="date">Date</label>
        <input class="form-control"  type="datetime-local" th:field="*{date}" />

    </div>

    <div class="form-group">
        <label th:for="maxClients">Max clients</label>
        <input class="form-control" th:field="*{maxClients}" />
        <span th:errors="*{maxClients}" class="error" style="color:red;"></span>
    </div>


    <input type="submit" value="Add" />

    <div th:if="${message}" th:text="${message}" style="color:red;" th:class="${'alert ' + alertClass}"/>
</form>

</body>
</html>